include README.md
include requirements.txt
recursive-include octoprint_PrusaLevelingGuide/templates *
recursive-include octoprint_PrusaLevelingGuide/translations *
recursive-include octoprint_PrusaLevelingGuide/static *
