<h2>Prusa Leveling Guide</h2>
<form class="form-horizontal">
    <h3>GCODE for mesh leveling</h3>
    <p>
    Specify what command to use for mesh bed leveling
    </p>
    <div class="control-group">
        <label class="control-label">Mesh Leveling Script</label>
        <div class="controls">
            <textarea rows="4" class="block" data-bind="value: settingsViewModel.settings.plugins.PrusaLevelingGuide.mesh_gcode"></textarea>
        </div>
    </div>
</form>
